.input {
  padding: 20px;
  @apply w-full h-fit;
  border-radius: 10px;
  border: 1px solid;
  @apply flex border-black-50 bg-white text-sm;

  @screen xl {
    @apply text-base;
  };

  input {
    @apply w-full bg-transparent;
    height: 20px;
    outline: none;
    line-height: 20px;

    &::placeholder {
      @apply text-black-50;
    }
  }
}