.testimonial {
    .swiper {
        padding-block: 40px 50px;
        @screen xl {
            padding-block : 53px 63px;
        }
    };
    .swiper-pagination-bullet {
        height: 7px;
        width: 7px;
        &-active {
            @apply bg-blue-primary;
        }
        @screen xl {
            width: 8px;
            height: 8px;
        }
    }

}