.testimonial {
    .swiper {
        padding-block: 40px;
        @screen xl {
            padding-block : 53px;
        }
    };
    .swiper-pagination-bullet {
        height: 7px;
        width: 7px;
        &-active {
            @apply bg-blue-primary;
        }
        @screen xl {
            width: 8px;
            height: 8px;
        }
    }

    &__card {
        border: 2px solid;
        @apply flex flex-col items-center border-blue-secondary;
        border-radius: 10px;
        padding: 20px;
        gap: 20px;
        @screen xl {
            gap: 24px;
        }
        

        &-head {
            background-image: url(/bg-dashed-profile.png);
            @apply flex justify-center items-center relative bg-cover;
            width: 90px;
            height: 90px;
            padding: 10px;
            @screen xl {
                width: 120px;
                height: 120px;
                padding: 12px;
            }
            .profile {
                @apply w-full h-full;
                img {
                    @apply w-full h-full;
                }
            };
            .apostr {
                @apply absolute;
                bottom: -12px;
            };
        };
        &-stars {
            @apply flex;
            gap: 5px;
        };
        &-description {
            @apply text-center;
            letter-spacing: 0.5px;
            @apply text-sm;
            @screen xl {
                @apply text-base;
                letter-spacing : 0.75px;
                max-width : 488px;
            }
        };
        &-user {
            padding: 10px;
            @apply text-2xl font-semibold;
            letter-spacing: 0.25px;
            //
            @apply text-lg;
            @screen xl {
                @apply text-2xl;
            }
        };
    }
}