.card-reason {
    padding: 30px 20px;
    border-radius: 20px;
    row-gap: 11px;
    @apply flex flex-col items-center shadow-primary h-fit relative text-center;
    @screen lg {
        max-width : 319px;
    }
    @screen xl {
        max-width : 319px;
        padding : 30px 20px;
    }
    .image {
        @apply absolute -top-16;
        width: 80px;
        height: 80px;
        @screen xl {
            @apply -top-24 w-fit h-fit;
            top : -103px;
        }
    }
    h4 {
        max-width: 193px;
        line-height: 122%;
        @apply font-semibold;
        font-size: 15px;
        @screen xl {
            @apply text-xl;
            min-height : 48px;
        }
    }
    p {
        font-size: 13px;
        @screen xl {
            @apply text-base;
        }
    }
    &:nth-child(2) {
        @screen md {
            margin-bottom: 80px;
        }
    }
}