.hero-common {
	&__bg {
		@apply w-full h-screen relative;
		background-color:#FDFDFF;
		height: 80vh;
	};
	&__container {
		@apply h-full flex items-center static;
		padding-block: 0;
	};
	.content {
		@apply grid relative w-full items-center;
		grid-template-columns: 1fr 80px;
		@screen md {
			grid-template-columns: 1fr 35%;
		}
		h1 {
			@apply font-medium text-lg relative z-10;
			background-color:#FDFDFF;
			max-width: 230px;
			@screen md {
				font-size :25px;
				max-width : none;
			};	
			@screen lg {
				font-size : 35px;
			};
			@screen xl {
				font-size: 45px;
			}
			.primary {
				@apply font-semibold text-blue-secondary text-2xl;
				@screen md {
					font-size : 36px;
				};
				@screen lg {
					font-size : 46px;
				};
				@screen xl {
					font-size : 60px;
				}
			};
		};
	}
	.vector {
		@apply absolute;
	};
	&__line {
		@apply bottom-0 left-0 hidden;
		@screen xl {
			display : block;
			width: 250px;
		}
	};
	&__two-line {
		@apply bottom-0 right-0;
		height: 75vh;
		width: auto;
	};
	&__points {
		bottom: 0;
		left: 50px;
		svg {
			@apply w-full h-full;
		}
		@screen md {
			width: 250px;
			height: 90px;
			left :75px;
			bottom: 10px;
		}
		@screen xl {
			width: 310px;
			left : 25%;
		}
	};
	&__circle-dashed {
		top: -135px;
		left: 12%;
		width: 80px;
		height: 80px;
		@screen lg {
			width: 100px;
			height: 100px;
			top : -180px;
		}
	};
	&__medal {
		width: 80px;
		height: 80px;
		@apply relative rounded-full z-10;
		background-color: #FDFDFF;
		@screen md {
			width: 120px;
			height: 120px;
		}
		@screen xl {
			width: 170px;
			height: 170px;
			margin-bottom :50px;
		}	
	}
}