@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  scroll-behavior: auto;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Montserrat", serif;
  background-color: #fff;
  color: #1e1e1e;
  list-style: none;
  text-decoration: none;
  outline: none;
}

input,
textarea,
select,
optgroup,
option {
  outline: none;
}
