.logo {
    width: 39px;
    height: 48px;
    z-index: 50;

    @screen lg {
        width: 55px;
        height: 63px;
    }

    &--primary {
        path {
            &:nth-child(1) {
                @apply fill-blue-primary;
            };
            &:nth-child(2) {
                @apply fill-blue-secondary;
            }
        }
    };
    &--white {
        path {
            @apply fill-white;
        }
    }
}