.logo {
    width: 39px;
    height: 48px;
    z-index: 50;

    @screen md {
        width: 55px;
        height: 63px;
    }

    @screen lg {
        width: 79px;
        height: 88px;
    }

    // @screen xl {
    //     width: 70px;
    //     height: 80px;
    // }

    @screen 2xl {
        width: 79px;
        height: 88px;
    }

    &--primary {
        path {
            &:nth-child(1) {
                @apply fill-blue-primary;
            };
            &:nth-child(2) {
                @apply fill-blue-secondary;
            }
        }
    };
    &--white {
        path {
            @apply fill-white;
        }
    }
}