.card-course {
  @apply flex flex-col cursor-pointer relative overflow-hidden;
  width: 335px;
  max-width: 433px;
  border-radius: 10px;
  gap: 10px;
  border: 0.8px solid #c7c7cc;

  @screen lg {
    width: 300px;
  }
  @screen xl {
    width: 370px;
  }
  @screen 2xl {
    @apply w-full;
    margin-bottom: 0;
    border-radius: 10px;
    gap: 20px;
  }

  &__head {
    @apply w-full relative h-fit;
    &-image {
      height: 200px;
      @apply w-full object-cover flex;
      @screen 2xl {
        height: 282px;
      }
      img {
        @apply w-full;
        border-radius: 10px 10px 0 0;
      }
    }
    &-topic {
      @apply w-fit absolute bg-white flex items-center;
      border-radius: 5px;
      padding: 5px;
      top: 20px;
      right: 20px;

      @screen 2xl {
        border-radius: 10px;
        padding: 10px;
      }

      p {
        @apply text-sm font-medium;

        @screen 2xl {
          @apply text-lg font-medium;
        }
      }
    }
  }
  &__body {
    @apply flex flex-col;
    padding: 10px;
    padding-top: 0;
    gap: 10px;
    @screen lg {
      gap: 5px;
    }
    @screen xl {
      padding: 15px;
      padding-top: 0;
      gap: 15px;
    }
    @screen 2xl {
      padding: 20px;
      padding-top: 0;
      gap: 20px;
    }
    &-access {
      @apply text-sm font-medium text-blue-primary;
      line-height: 20px;
      @screen 2xl {
        @apply text-lg font-medium;
        line-height: 22px;
      }
    }
    .free {
      color: #3cad25;
    }
    h4 {
      @apply text-sm font-bold text-black;
      line-height: 20px;
      @screen 2xl {
        @apply text-lg font-medium;
        line-height: 22px;
      }
    }
    &-description {
      @apply flex w-full;

      gap: 10px;
      @screen 2xl {
        gap: 20px;
        height: 24px;
      }
      .item {
        @apply flex gap-1 items-center text-sm font-medium text-black;
        @screen 2xl {
          @apply text-lg;
        }
      }
    }
  }
  &:hover &__hover {
    transform: translateX(0);
    transition: 0.3s ease-in-out;
  }
  &__hover {
    transition: 0s;
    background-color: #efefff;
    @apply absolute w-full h-full flex flex-col justify-between;
    transform: translateX(100%);
    padding: 15px;
    border-radius: 5px;
    @screen 2xl {
      justify-content: space-between;
      padding: 20px;
      border-radius: 10px;
    }
    &-price {
      @apply text-xl font-semibold text-blue-secondary;
      @screen 2xl {
        @apply text-2xl;
      }
    }
    &-text {
      @apply flex flex-col;
      gap: 20px;
      h4 {
        @apply font-bold text-black;
        line-height: 20px;
        font-size: 16px;
        @screen 2xl {
          @apply text-lg;
          line-height: 22px;
        }
      }
      .info {
        @apply flex w-full;
        gap: 20px;
        .item {
          @apply flex gap-1 items-center font-medium text-black text-sm;
          @screen 2xl {
            font-size: 18px;
          }
        }
      }
      p {
        line-height: 20px;
        font-size: 14px;
        @screen 2xl {
          font-size: 18px;
        }
      }
    }
    &-wrapper_btns {
      @apply flex justify-between;
      gap: 22px;
      button {
        width: 100%;
        @screen lg {
          padding: 12px 12px;
          font-size: 14px;
        }
        @screen xl {
          padding-block: 12px;
          font-size: 16px;
        }
      }
    }
  }
}
