.ready {
    @apply w-full h-fit bg-blue-secondary relative overflow-hidden;
    &__content {
        @apply flex flex-col;
        padding-block: 50px;
        gap: 10px;
        @screen md {
            @apply flex-row justify-between;
            padding-bottom: 75px;
        };
        @screen lg {
            @apply justify-between items-center;
            padding-block: 75px 90px;
        }

    };
    &__text {
        @apply flex flex-col relative z-10;
        gap: 17px;
        gap: 10px;
        h3 , p{
            @apply text-white;
        };
        h3 {
            @apply text-base uppercase font-semibold;
            letter-spacing: 1px;
            @screen lg {
                @apply text-xl;
            }
        };
        p {
            @apply font-bold text-lg;
            max-width: 310px;
            @screen lg {
                @apply text-2xl;
                max-width: 410px;
            }
            @screen xl {
                font-size : 36px;
                line-height: 130%;
                max-width: 620px;
            }
        }
    };
    &__logos {
        @apply flex relative z-10 items-center;
        gap: 20px;
        .link {
            width: auto;
            height: 68px;
            img {
                @apply w-full h-full;
            };
            @screen lg {
                height: 75px;
            };
            @screen xl {
                height: 86px;
            };
            @screen 2xl {
                height: auto;
            }

        };
        @screen md {
            @apply grid-cols-2;
        };
        @screen xl {
            @apply flex;
        }
       
    };
    &__3circles {
        @apply absolute;
        width: 619px;
        height: 554px;
        img {
            @apply w-full h-full;
        }
        left: -80%;
        top: 0;
        @screen md {
            left: 7.5%;
            top: -50%;
        }
        @screen xl {
            top : auto;
        }
    };
    &__points {
        @apply absolute w-fit h-fit;
        right: 0;
        bottom: 50%;
        svg {
            @screen md {
                width: 310px;
                height: 90px;
            }
        } 
        @screen md {
            right: 30px;
            bottom: 20px;
        }
    };
    &__arrow {
        @apply absolute hidden;
        left: 50%;
        transform: translateX(-50%);
        img {
            @apply w-full h-auto object-cover;
        }
        @screen 2xl {
            @apply flex;
        }
    }
}