.container {
  padding-top: 35px;

  &__navbar {
    @apply w-full h-auto flex flex-col bg-blue-clean overflow-hidden;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;

    @screen md {
      @apply flex-row items-center justify-between;
    }
    @screen 2xl {
      @apply flex flex-row;
      padding: 20px;
    }

    &__navigation {
      @apply flex overflow-scroll;
      gap: 10px;
      &::-webkit-scrollbar {
        display: none;
      }

      @screen 2xl {
        gap: 20px;
      }

      &__button {
        @apply text-sm text-nowrap;
        padding: 10px;
        border-radius: 5px;
        @screen lg {
          padding: 15px;
          font-size: 16px;
          border-radius: 10px;
        }
        @screen 2xl {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    &__search {
      @apply h-fit  w-fit flex flex-row items-center justify-center bg-white;
      max-width: 100%;
      gap: 10px;
      padding: 8px 15px;
      border-radius: 5px;

      @screen md {
        gap: 10px;
        padding: 8px 20px;
      }
      @screen lg {
        @apply flex items-center justify-center;
        gap: 10px;
        padding: 13px 20px;
        border-radius: 10px;
      }

      &__button {
        border-radius: 5px;

        @screen lg {
          border-radius: 10px;
        }
      }

      &__input {
        background-color: transparent;
        border: none;
        width: 250px;
        padding: 0;

        @screen lg {
          padding: 0;
        }

        @screen 2xl {
          width: 383px;
          padding: 0;
        }
      }
    }
  }
}
