.contact-us {
    @apply grid grid-cols-1;
    @screen md {
        @apply grid-cols-2;
    }
    @screen 2xl {
        grid-template-columns: 1fr 764px;
    }
    
    &__text {
        @apply flex flex-col items-start justify-center;
        row-gap: 25px;
        &-description {
            @apply flex flex-col;
            row-gap: 10px;
            .fat {
                @apply font-semibold;
                max-width: 520px;
                @screen lg {
                    @apply text-lg;
                }
            };
        }
    }
    &__image {
        @apply w-full h-full;
        max-width: 764px;
        aspect-ratio: 1/1;
        img {
            @apply w-full h-full;
        }
    }
}