

.container-header {
    @apply w-full  h-fit flex fixed bg-white items-center justify-center z-50;
     box-shadow: 0px -1px 17px 20px #ffffff;

    &__nav-bar {      
        @apply  w-full h-fit flex bg-white items-center justify-between z-50 mx-auto;
    
            padding: 10px 20px;
            max-width: 1440px;
    
        @screen md {
            padding-inline: 30px;
        }
    
        @screen lg {
            padding-inline: 35px;
        }
    
        @screen xl {
            padding-inline: 40px;
        }
    
        @screen 2xl {
            padding-inline: 50px;
        }
    
        &__responsive {
    
            @apply w-full h-fit bg-transparent flex flex-col justify-center items-center absolute right-0 text-xl text-white z-20 rounded-lg ;
    
            backdrop-filter: blur(6px);
            padding-block:0 55px;
            padding-top: 115px;
            gap: 24px;
            top: -100vh;
            transition: all 0.3s ease-in-out;
    
            @screen sm {
                padding: 25px;
                margin-top: 50px;
            }
    
            @screen md {
                padding: 35px;
                margin-top: 55px;
                gap:25px;
            }
    
            @screen lg {
                @apply  w-fit flex-row h-full items-center justify-center bg-transparent text-black  p-0 static mt-0;
    
                gap: 5px;
            }
    
            @screen xl {
                gap: 10px;
            }
    
            @screen 2xl {
                @apply block flex-row h-full items-center justify-center  bg-transparent text-black ;
    
                gap: 30px;
            }
    
    
            a {
                @apply text-base text-black h-fit bg-white text-center text-black shadow-primary rounded-md ;
 
                width: 200px;
                padding: 10px 20px;
    
                @screen lg {
                    @apply  w-fit h-fit bg-transparent shadow-none mt-0 ;
                    font-size : 16px
                }
            }
            .active {
                @apply bg-blue-secondary text-white;
    
                @screen lg {
                    @apply bg-transparent text-blue-secondary ;
                    font-weight: bold;
                }
            }
        }
    
        .shown {
            @apply top-0
        }
    
        &__right {
            @apply  flex items-center w-fit z-50 ;
    
            gap: 4px;
						@screen lg {
							gap: 10px;
						}
    
            @screen 2xl {
                @apply flex items-center w-fit;
                gap : 20px;
            }
    
    
            &__select-lang {
                @apply  flex  justify-center items-center gap-0 w-fit bg-transparent ;
    
                gap: 6px;
								@screen lg {
									gap :10px;
								}
            }
    
            &__button {
                display: none;
    
                @screen lg {
                    @apply block flex;
                }
            }
    
            &__menu {
            @apply flex flex-col justify-between items-center relative;
    
            @screen lg {
                @apply hidden
            }
    
    
            z-index: 50;
            width: 30px;
            height: 22px;
    
            span {
                @apply w-full ;
    
                transition: all 0.3s ease-in-out;
                height: 2px;
                background-color: black;
            }
            
        }
    
        .navShown {
            span {
                position: absolute;
                width: 95%;
                 
                &:nth-child(1){
                   rotate: 40deg;
                    bottom: 50%;
                };
                &:nth-child(2){
                   display: none;
                };
                &:nth-child(3){
                    rotate: -40deg;
                    bottom: 50%;
                 };
            }
    
        }
        }
    
    
    }
}