.cardCourseContainer {
  @screen lg {
  }
  .swiper-wrapper {
    margin-bottom: 50px;
  }
  @screen lg {
    padding-bottom: 0;
  }

  &__course {
    @apply flex  flex-wrap justify-center;
    gap: 5px;
  }
}
