.cardCourseContainer {
  // @apply border border-black;
  padding-bottom: 50px;
  @screen lg {
    padding-bottom: 0;
  }

  &__course {
    @apply flex  flex-wrap justify-center;
    gap: 5px;
    // border: 1px solid black;
  }
}
