.header {
	&__bg {
		@apply flex w-full fixed top-0 left-0 z-50;
		padding-block: 5px;
	}
	&__content {
		@apply w-full flex justify-between items-center;
		padding-block: 5px;

		.logo {
			@apply z-50;
		}

		&-nav {
			@apply hidden;
			gap: 50px;

			@screen lg {
				@apply flex;
			}

			.link {
				@apply font-medium text-sm;

				@screen xl {
					@apply text-base;
				}

				@screen 2xl {
					padding-inline: 8px;
				}

				&:hover {
					@apply text-blue-secondary;
				}
			}

			.active {
				@apply text-blue-secondary;
			}
		}

		&-right {
			@apply flex items-center relative;
			gap: 4px;

			@screen xl {
				gap: 10px;
			}

			.search {
				@apply cursor-pointer;
			}

			.button {
				@apply hidden w-fit;
				@screen lg {
					@apply flex;
				}
				button {
					padding-block: 12px;
				}
			}
			.menu-bar {
				@apply flex flex-col cursor-pointer relative;
				gap: 5px;
				width: 25px;

				@screen lg {
					@apply hidden;
				}

				span {
					@apply block w-full;
					background-color: #1E1E1E;
					height: 2px;
					transition: 0.4s ease-in-out;

					&:nth-child(2) {
						transition: 0s;
					}
				}

				&.active {
					height: 23px;

					span {
						@apply absolute top-1/2;

						&:nth-child(1) {
							transform: rotate(45deg);
						}

						&:nth-child(3) {
							transform: rotate(-45deg);
						}

						&:nth-child(2) {
							opacity: 0;
							transition: 0s;
						}
					}
				}
			}
		}

		&-responsive {
			@apply flex flex-col items-center fixed left-0 right-0 top-0 bg-white;
			gap: 25px;
			padding-block: 100px 50px;
			box-shadow: 1px 2px 20px rgba(#8d8d8d, 0.2);
			transform: translateY(-102%);
			transition: 0.5s ease-in-out;

			@screen lg {
				@apply hidden;
			}

			&.active {
				transform: translateY(0);
			}

			.button button {
				width: 135px;
				@apply text-base;
			}

			a {
				&.active {
					@apply text-blue-secondary font-medium;
					transition: 0.5s ease-in-out;
				}
			}
		}
	}
}